body{
    background-color: #b0e2c2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.section-verduleria{
    background-color: rgba(248, 248, 248, 0.945);
    text-align: center;
    padding: 30px 20px;
    width: 300px;
    margin: 100px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.36);
}
ul{
    padding: 0px;
}
li{
    padding: 10px 40px;
    background-color: white;
    margin: 10px 40px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 25px;
    list-style: none;
}
p{
    color: rgb(112, 111, 111);
}